@using Mentorship.Helper.TreeView
@model IEnumerable<Mentorship.Web.TreeView.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="css-treeview"> 
        @Html.TreeViewHelper(Model)
    </div>
</body>
</html>
